<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="mcsc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="minecraftservercreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <mcsc.Properties.Settings>
      <setting name="wan_ip" serializeAs="String">
        <value />
      </setting>
      <setting name="lan_ip" serializeAs="String">
        <value />
      </setting>
      <setting name="verzio" serializeAs="String">
        <value />
      </setting>
      <setting name="memoria" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="meres" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="szerverfut" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="agy" serializeAs="String">
        <value />
      </setting>
      <setting name="version" serializeAs="String">
        <value>Beta edition</value>
      </setting>
      <setting name="rfs" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="console_drop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="srv_created" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="lang" serializeAs="String">
        <value>0</value>
      </setting>
    </mcsc.Properties.Settings>
    <minecraftservercreator.Properties.Settings>
      <setting name="wan_ip" serializeAs="String">
        <value />
      </setting>
      <setting name="lan_ip" serializeAs="String">
        <value />
      </setting>
      <setting name="verzio" serializeAs="String">
        <value />
      </setting>
    </minecraftservercreator.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>